# Wymagane do obsługi bazy Postgres
--extra-index-url https://download.pytorch.org/whl/cpu
psycopg2-binary==2.9.11
# Wymagane do obsługi bazy Postgres
sqlalchemy
fastapi
pandas
numpy==1.26.4
scikit-learn==1.7.2
joblib
requests
pytest
ruff
flake8
uvicorn
torch==2.1.2+cpu; python_version < "3.13"
torch==2.7.1+cpu; python_version >= "3.13"
xgboost
openai
pyyaml
psutil
